.fold__top {
  height: 2.3em !important;
}

.editor_controls__wrapper {
  overflow: auto;
  max-height: 80vh;
}

.color-edit {
  position: relative;
  margin: 10px 0;
}

.color-value {
  min-width: 170px;
  padding: 5px;
  border: 1px solid #cdd8e4;
  margin-bottom: 5px;
  border-radius: 3px;
}

.color-value:hover {
  border: 1px solid #979ba0;
}

.color-expand-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;

  border-radius: 5px;
  background-color: #109eff;
  font-size: 12px !important;
  color: white;
}

.color-auto-button:hover {
  background-color: #109eff;
}

.color-auto-button {
  display: flex !important;
  align-items: center;
  padding: 8px 12px;
  border-radius: 5px;

  background-color: #accdec;
  font-size: 12px !important;
  color: white;
}

.color-add-button:hover {
  background-color: #1e8339;
}

.color-add-button {
  display: flex !important;
  align-items: center;

  padding: 8px 12px;
  margin-right: 5px;

  border-radius: 5px;
  background-color: #bdd494;
  font-size: 12px !important;

  color: white;
}

.color-delete-icon:hover {
  fill: #b92f47 !important;
}

.color-delete-icon {
  position: absolute;

  top: -3px;
  left: -30px;
  cursor: pointer;
  fill: #8e1206 !important;
}

.colors-edit-container {
  padding: 15px 10px;
  border: 1px solid lightgray;
  border-right: none;
  border-left: none;
}

.color-buttons-container {
  display: flex;
  margin-top: 20px;
}

.color-open-icon {
  fill: white;
}

.color-close-icon {
  fill: white;
}

.color-add-icon {
  fill: white;
}
