.sidebar-container-enter-done {
  z-index: 10000 !important;
}

.circle-picker {
  padding: 1rem;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  fill: #e40265 !important;
}

.button-add-color {
  background-color: #109eff;
  border-width: 0.2px !important;
  border-color: #0f76be !important;
  margin: 10px 0;
  color: white;
  font-size: 12px !important;
  text-shadow: 0px 1px 1px darkgrey;
}
