@import (multiple, reference, optional) '../../theme.config';

/* Enables customization of addons */
.loadAddonOverrides() {
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.overrides';
}

/* Helper to load variables */
.loadAddonVariables() {
  @import (optional) '@{addonelement}.variables';
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.variables';
}

@import './variables.less';

.editor_controls .fold__top {
  height: auto;
}

.plot-container.plotly {
  width: 100%;
  height: 100%;
}

.plotly_editor_plot {
  position: sticky;
  top: 10px;
}

.chart-editor-modal {
  z-index: 100 !important;
}

body.has-sidebar .ui.modal.chart-editor-modal {
  width: 95% !important;
}

.embed-visualization,
.plotly-chart {
  position: relative;
}

.visualization-wrapper {
  position: relative;

  .visualization {
    position: relative;

    &:not(.autosize) {
      overflow: auto;
    }
  }

  .visualization-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .visualization-info {
    display: flex;
    align-items: center;

    > * {
      padding: 0 0.5rem;
      border-collapse: collapse;
    }

    > *:first-child {
      padding-left: 0;
    }

    > *:last-child {
      padding-right: 0;
      margin-right: 0;
      &.plotly-download-container {
        margin-left: auto;
      }
    }

    > *:not(:last-child) {
      border-right: 2px solid @textColor;
    }
  }
}

#page-edit .plotly-download-container,
#page-edit .plotly-notes-container,
#page-edit .plotly-more-info-container,
#page-edit .plotly-sources-container {
  display: none;
}
.plotly-enlarge-modal {
  width: 95% !important;
  height: 85%;
  .content {
    height: 90%;

    .js-plotly-plot {
      height: 100%;
      width: 100%;
    }
  }
}
.plotly-enlarge-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.plotly-download-button,
.plotly-notes-button,
.plotly-sources-button,
.plotly-enlarge-button {
  display: inline-flex;
  align-items: center;
  padding-bottom: 3px;
  border: none;
  background-color: transparent;
  color: @textColor;
  cursor: pointer;
  font-weight: bold;

  .icon {
    margin-left: 0.5rem;
  }

  &:hover {
    color: @secondaryColor;
  }

  &.expanded {
    padding-bottom: 0;
    border-bottom: 3px solid @secondaryColor;
    color: @secondaryColor;
  }
}

#plotly-sources-popup {
  .ui.popup {
    min-width: 600px;
    background-color: @grey-1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &::before {
      background-color: @grey-1;
    }

    .sources-list > li,
    .sources-list > li > * {
      color: @textColor;
    }

    a:hover {
      color: @secondaryColor;
    }
  }

  .sources-list {
    margin: 0;
    list-style: decimal inside;
    padding-inline-start: 0;
  }

  @media screen and (max-width: @largestMobileScreen) {
    .ui.popup {
      min-width: 300px;
    }
  }
}

@media print {
  .plotly-download-container,
  .plotly-sources-container,
  .plotly-notes-container,
  #plotly-sources-popup {
    display: none;
  }
}

.editor_controls .text-input.width-100 {
  width: 100%;
}
