@import (multiple, reference, optional) '../../theme.config';

/* Enables customization of addons */
.loadAddonOverrides() {
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.overrides';
}

/* Helper to load variables */
.loadAddonVariables() {
  @import (optional) '@{addonelement}.variables';
  @import (optional)
    '@{siteFolder}/../addons/@{addon}/@{addontype}s/@{addonelement}.variables';
}

@import './variables.less';

.editor_controls .fold__top {
  height: auto;
}

.plot-container.plotly {
  width: 100%;
  height: 100%;
}

.plotly_editor_plot {
  position: sticky;
  top: 10px;
}

.chart-editor-modal {
  z-index: 100 !important;
}

body.has-sidebar .ui.modal.chart-editor-modal {
  width: 95% !important;
}

.visualization-wrapper {
  position: relative;

  .visualization {
    position: relative;
    margin-bottom: 1rem;

    &:not(.autosize) {
      overflow: auto;
    }
  }

  .visualization-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .visualization-info {
    display: flex;
    align-items: center;

    > * {
      padding: 0 0.5rem;
      border-collapse: collapse;
    }

    > *:first-child {
      padding-left: 0;
    }

    > *:last-child {
      padding-right: 0;
      margin-right: 0;

      &.plotly-download-container {
        margin-left: auto;
      }
    }

    > *:not(:last-child) {
      border-right: 2px solid @textColor;
    }
  }
}

.editor_controls .text-input.width-100 {
  width: 100%;
}
