.svg-container {
  * {
    line-height: 1;
  }
}

.plotly-component {
  margin-bottom: 1rem;

  .svg-container {
    height: var(--svg-container-height) !important;
  }

  .visualization-filters {
    margin-bottom: 1rem;
  }

  &:not(.mobile) {
    &.filters_on_right {
      .visualization {
        width: calc(100% - 300px - 1rem);
      }

      .visualization-filters {
        width: 300px;
        margin-bottom: 0;
        float: right;
      }
    }

    &.filters_on_left {
      .visualization {
        width: calc(100% - 300px - 1rem);
        margin-left: calc(300px + 1rem);
      }

      .visualization-filters {
        width: 300px;
        margin-bottom: 0;
        float: left;
      }
    }
  }

  .visualization-toolbar {
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.enlarge-modal {
  .content {
    height: 100%;

    .svg-container {
      height: 100%;
    }
  }
}
